@{
    ViewBag.Title = "Home Page";
}

<p>Home Page</p>

@section PageLevelScripts
{
    @Scripts.Render("~/Scripts/LoginPage")

    <script type="text/javascript">
        $(document).ready(function() {
            var message = ko.observable("RAWR");
            console.log(message());
        });
    </script>
}